@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
    background: rgb(255, 255, 255);
}

/*.................Banner Section Style starts..................*/
.banner-container{
    width: 1440px;
    min-height: 650px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.banner-heading{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    
}
.banner-paragraph{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
 }
.banner-btn{
    width: 250px;
    height: 65px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 1%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    letter-spacing: 2px;
 }
/* ......................Why Web Development Section Style Starts..................... */

.dev-container{
    width: 1140px;
    height: 1050px;
    margin: 0 auto;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin-bottom: 50px;
}
.dev-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.heading-two{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.heading-paragraph{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 0px;
}
.dev-inside-items{
    width: 850px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    
}
.leftsite-text{
    width: 50%;
    height: 240px;
    margin-left: 20px;
}

.rightsite-image img{
    margin-left: 100px;
}
.heading-h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 10px;
}
.heading-sub-para{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
 .dev-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    margin-top: 10px;
    width: 171px;
    height: 47px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    text-align: center;

 }
 .second-items{
    margin-top: 30px;
 }

.second-image img{
    margin-left:20px ;
}
.third-item{
    margin-top: 30px;
}


/*--------------- Insperation sectio starts---------------------- */
.insperation-container{
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 80px 97px 80px 97px;
    margin-bottom: 120px;
    
}
.insperation-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vedio-url{
    border-radius: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;  
}

/*-------------- My Current Target Section Styles Starts------------- */

.target-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.target-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 852px;
    height: 113px;
    margin-bottom: 50px;
}
.target-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    padding-top: 40px;
}
.target-paragraph{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 0px;
}

.target-portfullio{
    width: 1140px;
    height: 299px;
    display: flex;
    gap: 20px;
   
}
.first-target{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}
.first-target-heading{
    padding-top: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}
.first-target-paragraph{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
learn-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
   
}

.second-target{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}
.third-target{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;  
}

/*------------- Support Section Styles Starts------------ */

.support-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
}

.support-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 48px 64px 48px;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
}

.support-heading{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
.support-para{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: 0.7;
}

.support-input{
    width: 548px;
    height: 55;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    font-size: 20px;
}

.support-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    border: none;
    outline: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/*......................Footer Section Style Starts.....................*/

.footer-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-contains{
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.footer-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
}







